# This ensures that all files that git considers to be text
# will have normalized (LF) line endings in the repository.
# The core.eol configuration variable controls which line 
# endings git will use for normalized files in your working
# directory; the default is to use the native line ending
# for your platform, or CRLF if core.autocrlf is set.
* text=auto
